:root {
    @font-face {
        font-family: alliance;
        src: url(/font/Alliance.otf);
    }
    }
    
    *,
    *::before
    *::after {
        box-sizing: border-box;
        padding:0;
        margin:0;
    }
    

    html {
        position: relative;
        height: 100%;
    
    }

    body {
        background-color: black;
        font-family: 'alliance', Arial, Helvetica, sans-serif;
    }

    h1,
    h2,
    h3,
    p {
        color: pink;
        
    }
    
    .box{
        
        margin: 6rem;
        padding: 2em;
        border-color: pink;
        border-style: double;
        border-width: 4px;
        border-radius: 1rem;

    }
    .halfright {
        position:fixed;
        bottom: 0;
        right:0;
        max-width:auto;
        max-height:48%;
    }